:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 5rem;
}

/* Header */
.header .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.header .logo-wrapper {
  width: 6rem;
}

.main-nav .main-nav-list {
  display: flex;
}

.main-nav .main-nav-list .main-nav-item:not(:last-child) {
  margin-right: 2rem;
}

.main-nav .main-nav-list .main-nav-item a {
  font-size: 1.5rem;
  color: var(--dark-grayish-blue);
  transition: all 0.3s ease;
}

.main-nav .main-nav-list .main-nav-item a:hover {
  color: var(--soft-red);
}

/* Showcase Section */
.showcase {
  margin-bottom: 5rem;
}

.showcase .grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  gap: 2rem;
}

.showcase .grid-item-left {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
}

.grid-item-left .bottom {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
}

.grid-item-left .bottom .left {
  padding: 1rem;
  font-size: 4.5rem;
}

.grid-item-left .bottom .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}
.grid-item-left .bottom .right p {
  font-size: 1.5rem;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

.grid-item-left .bottom .right button {
  width: 18.5rem;
  padding: 1rem 1rem;
  background: var(--soft-red);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.grid-item-left .bottom .right button:hover {
  background: var(--very-dark-blue);
}

.showcase .grid-item-right {
  background: var(--very-dark-blue);
  grid-column: 3 / 4;
  padding: 2rem;
}

.showcase .grid-item-right h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--soft-orange);
  margin-bottom: 2rem;
}

.showcase .grid-item-right h3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--off-white);
  margin-bottom: 1rem;
  cursor: pointer;
}

.showcase .grid-item-right h3:hover {
  color: var(--soft-orange);
}

.showcase .grid-item-right p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--grayish-blue);
  margin-bottom: 2rem;
}

.showcase .grid-item-right div {
  padding: 2rem 0;
}

.showcase .grid-item-right div:not(:last-child) {
  border-bottom: 1px solid var(--off-white);
}

/* Articles Section */
.articles .grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
}

.articles .grid-container div {
  display: flex;
}

.articles .grid-container div img {
  width: 10rem;
}

.articles .grid-container div .content {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.articles .grid-container div .content span {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--grayish-blue);
  margin-bottom: 1rem;
}

.articles .grid-container div .content h4 {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--very-dark-blue);
  margin-bottom: 1rem;
  cursor: pointer;
}

.articles .grid-container div .content h4:hover {
  color: var(--soft-orange);
}

.articles .grid-container div .content p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--grayish-blue);
}

/* Attribute */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
