:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

#open-menu,
#open-menu {
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#open-menu {
  display: none;
}

#open-menu.active {
  display: flex;
}

#close-menu {
  display: none;
}

#close-menu.active {
  display: flex;
}

nav ul {
  display: none;
}

/* Showcase */
.showcase {
  padding: 2rem;
}

/* Grid Item One */
.grid-item-one .articles {
  margin-top: 2rem;
}

.grid-item-one {
  margin-bottom: 4rem;
}

.grid-item-one .articles h1 {
  font-weight: 800;
  color: var(--very-dark-blue);
  font-size: 4rem;
  margin-bottom: 1rem;
}

.grid-item-one .articles p {
  font-weight: 400;
  color: var(--grayish-blue);
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.grid-item-one .articles button {
  background: var(--soft-red);
  color: #fff;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

.grid-item-one .articles button:hover {
  background: var(--very-dark-blue);
}

/* Grid Item Two */
.grid-item-two {
  background: var(--very-dark-blue);
  padding: 2rem;
}

.grid-item-two h2 {
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--soft-orange);
  margin-bottom: 2rem;
}

.grid-item-two article {
  padding: 2rem 0;
}

.grid-item-two article:not(:last-child) {
  border-bottom: 1px solid var(--off-white);
}

.grid-item-two article h3 {
  font-weight: 800;
  font-size: 2rem;
  color: var(--off-white);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.grid-item-two article h3:hover {
  color: var(--soft-orange);
}

.grid-item-two article p {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--grayish-blue);
  margin-bottom: 1rem;
  line-height: 1.2;
}

/* Cards */
.cards {
  padding: 2rem;
  margin-bottom: 2rem;
}

.cards .card {
  display: flex;
}

.cards .card .img-wrapper {
  margin-right: 1.5rem;
}

.cards .card .img-wrapper img {
  width: 10rem;
}

.cards .card span {
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--grayish-blue);
  margin-bottom: 1rem;
}

.cards .card h4 {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1.2;
  color: var(--very-dark-blue);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 1rem;
}

.cards .card h4:hover {
  color: var(--soft-orange);
}

.cards .card p {
  font-size: 1.5rem;
  color: var(--grayish-blue);
  font-weight: 400;
  line-height: 1.4;
}
